body{
    margin: 0;
}

.navbar{
    background-image: url(./navbar.png);
    background-size: cover; 
}

 /* #background-video{
    background-repeat:no-repeat;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}  */

@media screen and (max-width: 771px) {
    .FAQ img{
        margin-top: 200px;
    }
}

@media screen and (max-width: 390px) {
  .FAQ img{
      margin-top: 90px;
  }
}

#faq{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.buton{
    font-size: medium;
}

.footer{
    background-image: url("footer.png");
    background-color: #1f0567;
    background-size: cover;
}

